
:root {
    --custom-width: 30%;
    --custom-color: aliceblue;
}

/* NAV */
.nav-container {
    background-color: #2d3e4f;
    position: fixed;

    @media (min-width: 991px) {
        width: var(--custom-width);
        height: 100%;
    }

    @media (max-width: 990px) {
        z-index: 10;
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
        width: 100%;
        height: auto;
        float: none;
    }
}

.nav-content {
    color: var(--custom-color);

    @media (min-width: 991px) {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.flex-container {
    padding: 10px;
    // position: relative;
    // padding: 20px;
    
    @media (min-width: 991px) {
    }

    @media (max-width: 990px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.nav-container h1 {
    text-align: center;

    @media (min-width: 991px) {
    }

    @media (max-width: 990px) {
        flex: 0 1 auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

    // MENUE ICON

#icon-container {
    @media (min-width: 991px) {
        display: none;
    }
    @media (max-width: 990px) {
        display: inline-block;
        cursor: pointer;
        flex: 0 1 auto;
        margin-left: auto;
        padding-inline: 20px;
    }
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--custom-color);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

#nav-animation {
    text-align: center;
    flex-direction: column;
    
    @media (min-width: 991px) {
        display: flex;
    }
    @media (max-width: 990px) {
        display: none;
    }
}

.nav-container nav a{
    padding: 20px;
    font-size: large;
    color: var(--custom-color);
}


/* MAIN PAGE */
.page-container {
    position: relative;
    height: 100%;
    
    @media (min-width: 991px) {
        left: var(--custom-width);
        top: 0px;
        bottom: 0px;
        width: calc(100% - var(--custom-width));
    }

    @media (max-width: 990x) {
        left: 0;
        width: 100%;
    }   
}

    /* BANNER */
.banner {
    height: 100%;
    width: 100%;
    background-image: url(../images/wave.png);
    background-size: cover;
}
